<div class="container mt-4">
  <h1 class="text-center mb-4">Available Products</h1>

  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4">
        <!-- Product Image -->
        <img
          [src]="product.imageUrl"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <!-- Product Name -->
          <h5 class="card-title">{{ product.name }}</h5>

          <!-- Product Price -->
          <p class="card-text text-success">
            Price: {{ product.price | currency }}
          </p>

          <app-quantity-selector
          [quantity]="getQuantity(product)"
          (decrement)="decrementQuantity(product)"
          (increment)="incrementQuantity(product)"
          ></app-quantity-selector>

          <!-- Product Details Button -->
          <button
            class="btn btn-primary w-100"
            (click)="viewDetails(product)"
          >
            View Details
        </button>

          <!-- Add to Cart Button -->
          <button
            *ngIf="getQuantity(product) <= 0"
            class="btn btn-primary w-100"
            (click)="incrementQuantity(product)"
          >
            Add to Cart
          </button>

          <button
          *ngIf="getQuantity(product) > 0"
          class="btn btn-primary w-100"
          (click)="removeFromCart(product.id)"
        >
          Remove
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
